/* Global */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.search{
  margin-bottom: auto;
  margin-top: 20px;
  height: 40px;
  background-color: #fff;
  padding: 0px;
}

.search-input{

  color: white;
  border:0;
  outline: 0;
  background: none;
  width: 0;
  margin-top: 0px;
  caret-color:transparent;
  line-height: 40px;
  transition: width 0.4s linear;

}

.search .search-input{
  padding: 0 0px;
  width: 550px;
  caret-color: #536bf6;
  font-size: 25px;
  font-weight: 300;
  color: black;
  transition: width 0.4s linear;
  /* margin-bottom: 20px; */

}

.search:hover>.search-icon{
  background:#1A237E;
  color:#fff;
  /* margin-bottom: 20px; */
}
.search-icon{

  font-size: 30px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #536bf6;

  
}
a:link{
  text-decoration: none;
}


::-webkit-scrollbar{
  width: 12px;
}
::-webkit-scrollbar-track{
  background-color: transparent;
}
::-webkit-scrollbar-thumb{
  background-color:rgb(196, 26, 248);
  border-radius: 30px;
}

.header{
    width: 100%;
    padding: 5px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #421248e4;
    position: relative;
}

.logo-img{
    width:300px;
}
/* catalogue */
.wrap {
    display: inline-block;
    -webkit-box-shadow: 0 0 70px #fff;
    -moz-box-shadow: 0 0 70px #fff;
    box-shadow: 0 0 70px #fff;
    margin-top: 40px;
  }
  
  /* a little "umph" */
  .decor {
    background: #6EAF8D;
    background: -webkit-linear-gradient(left, #CDEBDB 50%, #6EAF8D 50%);
    background: -moz-linear-gradient(left, #CDEBDB 50%, #6EAF8D 50%);
    background: -o-linear-gradient(left, #CDEBDB 50%, #6EAF8D 50%);
    background: linear-gradient(left, white 50%, #6EAF8D 50%);
    background-size: 50px 25%;;
    padding: 2px;
    display: block;
  }
  
  .a_catalogue {
    text-decoration: none;
    color: #fff;
    display: block;
  }
  
  #ul_catalogue {
    list-style: none;
    position: relative;
    text-align: left;
  }
  
  .li_catalogue {
    float: left;
  }
  
  /* clear'n floats */
  #ul_catalogue:after {
    clear: both;
  }
  
  #ul_catalogue:before,
  #ul_catalogue:after {
      content: " ";
      display: table;
  }
  
  nav {
    position: relative;
    background: #7d1274;
    background-image: -webkit-linear-gradient(bottom, #75166c 7%, #333333 100%);
    background-image: -moz-linear-gradient(bottom, #2B2B2B 7%, #333333 100%);
    background-image: -o-linear-gradient(bottom, #2B2B2B 7%, #333333 100%);
    background-image: linear-gradient(bottom, #2B2B2B 7%, #333333 100%);
    text-align: center;
    letter-spacing: 1px;
    text-shadow: 1px 1px 1px #630662;
    -webkit-box-shadow: 2px 2px 3px #888;
    -moz-box-shadow: 2px 2px 3px #888;
    box-shadow: 2px 2px 3px #888;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  
  /* prime */
  #ul_catalogue.primary .li_catalogue .a_catalogue{
    display: block;
    padding: 20px 30px;
    border-right: 1px solid #5d0c5f;
  }
  
  #ul_catalogue.primary .li_catalogue:last-child .a_catalogue{
    border-right: none;
  }
  
  #ul_catalogue.primary .li_catalogue .a_catalogue:hover {
    
    color: #650857;
  }
  
  /* subs */
  #ul_catalogue.sub {
    position: absolute;
    z-index: 200;
    box-shadow: 2px 2px 0 #BEBEBE;
    width: 200%;
    display:none;
  }
  
  #ul_catalogue.sub .li_catalogue {
    float: none;
    margin: 0;
  }
  
  #ul_catalogue.sub .li_catalogue .a_catalogue {
    border-bottom: 1px dotted #ccc;
    border-right: none;
    color: #420a4f;
    padding: 15px 30px;
  }
  
  #ul_catalogue.sub .li_catalogue:last-child .a_catalogue {
    border-bottom: none;
  }
  
  #ul_catalogue.sub .li_catalogue .a_catalogue:hover {
    color: #640f6f;
    background: #eeeeee;
  }
  
  /* sub display*/
  #ul_catalogue.primary .li_catalogue:hover #ul_catalogue {
    display: block;
    background: #fff;
  }
  
  /* keeps the tab background white */
  #ul_catalogue.primary .li_catalogue:hover .a_catalogue {
    background: #fff;
    color: #666;
    text-shadow: none;
  }
  
  #ul_catalogue.primary .li_catalogue:hover > .a_catalogue{
    color: #7f0e89;
  } 
  
  @media only screen and (max-width: 600px) {
    .decor {
      padding: 3px;
    }
    
    .wrap {
      width: 100%;
      margin-top: 0px;
    }
    
     .li_catalogue {
      float: none;
    }
    
    #ul_catalogue.primary .li_catalogue:hover .a_catalogue {
      background: none;
      color: #8B8B8B;
      text-shadow: 1px 1px #690965;
    }
  
    #ul_catalogue.primary .li_catalogue:hover #ul_catalogue {
      display: block;
      background: #670c7b;
      color: #fff;
    }
    
    #ul_catalogue.sub {
      display: block;  
      position: static;
      box-shadow: none;
      width: 100%;
    }
    
    #ul_catalogue.sub .li_catalogue .a_catalogue{
      background: #780a7c;
        border: none;
      color: #8B8B8B;
    }
    
    #ul_catalogue.sub .li_catalogue .a_catalogue:hover {
      color: #ccc;
      background: none;
    }
  }
  /* catalogue */
.imgPro{
    width: 100%;
    height: 50%;
}

html {
    font: normal 16px sans-serif;
}

body {
    
    overflow-x: hidden;
}



#a_all {
    text-decoration: none;
    opacity: 0.75;
    color: #fff;
}

#a_all:hover {
    opacity: 1;
}

h1,
h2,
h4,
h5,
h6 {
    font-family: Poppins;
}

h3,
p {
    font-family: Roboto;
}

.highlight {
    color: rgb(95, 20, 106);
    font-weight: bold;
}



section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 50px 80px;
}

@media all and (max-width: 768px) {
    section {
        padding: 50px 20px;
    }
}

@media all and (max-width: 576px) {
    section {
        padding: 20px 10px;
    }
}

.grid {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

hr {
    width: 250px;
    height: 3px;
    background-color: red;
    border: 0;
    margin-bottom: 50px;
}

@media (max-width: 575px) {
    hr {
        margin-bottom: 20px;
    }
}

section h1 {
    text-transform: capitalize;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
}

section h3 {
    font-size: 30px;
    margin-bottom: 25px;
    text-align: center;
    font-weight: 100;
}

@media (max-width: 575px) {
    section h1 {
        font-size: 30px;
    }   
    section h3 {
        font-size: 25px;
    }
}



/* Pricing tables */

#pricing-tables .grid {
    flex-direction: row;
    justify-content: space-around;
}

#pricing-tables .col {
    flex-basis: 30%;
    padding: 8px;
    text-align: center;
}

.price-box {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background: #fff;
    color: #333333;
    list-style-type: none;
    border: 1px solid #f3b57d;
    margin: 0;
    padding: 0;
    transition: 1s;
}

.price-box p {
    font-size: 30px;
    font-weight: 100;
    margin-top: 0;
}

.price-box:hover, .price-box.best {
    box-shadow: 0 10px 15px 0 #865d3d;
}

.price-box .header {
    background-color: #a26da9;
    color: #fff;
    font-size: 25px;
    padding: 10px 0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.price-box .header.header-red {
    background-color: red;
}

.price-box li {
    padding: 20px;
    border-bottom: 1px solid #f3b57d;
}

.price-box .emph {
    background-color: #f4f4f4;
    font-size: 20px;
}

.button {
    background-color: #2b729c;
    border: none;
    color: #fff;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    border-radius: 10px;
}

.price-box .button:hover {
    background-color: rgb(211, 10, 234);
}

@media all and (max-width: 768px) {
    #pricing-tables .grid {
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
    }
    #pricing-tables .col {
        flex-basis: 75%;
    }
}

/* Footer */

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #f3b57d;
    padding: 20px 0;
    text-align: center;
    font-size: 20px;
}

footer p {
    font-family: Poppins;
}

footer ul {
    display: flex;
}

footer ul li {
    margin-left: 25px;
}

@media (max-width: 768px) {
    footer {
        flex-direction: column;
    }
    footer ul li:first-of-type {
        margin-left: 0;
    }
    footer p {
        text-align: center;
        margin-bottom: 20px;
    }
}
